# Ignore git files
.git
.gitignore

# Ignore dependencies
node_modules
api/node_modules
web/node_modules

# Ignore other projects
web
ecommerce-api

# Ignore build artifacts
api/dist
web/.next
web/out

# Ignore env files
.env
*.env
api/.env
web/.env
